
.gradle/7.5.1/checksums/checksums.lock
.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.5.1/dependencies-accessors/gc.properties
.gradle/7.5.1/executionHistory/executionHistory.bin
.gradle/7.5.1/executionHistory/executionHistory.lock
.gradle/7.5.1/fileChanges/last-build.bin
.gradle/7.5.1/fileHashes/fileHashes.bin
.gradle/7.5.1/fileHashes/fileHashes.lock
.gradle/7.5.1/fileHashes/resourceHashesCache.bin
.gradle/7.5.1/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.gradle/vcs-1/gc.properties
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/AndroidProjectSystem.xml
.idea/assetWizardSettings.xml
.idea/caches/deviceStreaming.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/kotlinc.xml
.idea/migrations.xml
.idea/modules/app/TotalNBA.app.iml
.idea/navEditor.xml
.idea/runConfigurations.xml
.idea/TotalNba-Android.iml
.gradle/8.11.1/checksums/checksums.lock
.gradle/8.11.1/checksums/md5-checksums.bin
.gradle/8.11.1/checksums/sha1-checksums.bin
.gradle/8.11.1/executionHistory/executionHistory.bin
.gradle/8.11.1/executionHistory/executionHistory.lock
.gradle/8.11.1/fileChanges/last-build.bin
.gradle/8.11.1/fileHashes/fileHashes.bin
.gradle/8.11.1/fileHashes/fileHashes.lock
.gradle/8.11.1/fileHashes/resourceHashesCache.bin
.gradle/8.11.1/gc.properties
.gradle/config.properties
